{{!-- <main>
    <h1>{{headList}}</h1>
    <p>{{description}}</p>
    <div class="d-grid gap-2 col-4 mt-5">
        {{#each pages}}
        <a class="btn btn-primary" href="{{link}}" style="text-transform:capitalize;" role="button">{{text}}</a>
        {{/each}}
    </div>
</main> --}}