<main>
    {{> shopheader}}
    <section class="row g-4">
        {{#with newsBlock}}
        <div>
            <h1 class="text-center">{{title}}</h1>
        </div>
        {{#each cards}}
        <div class="col-3">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <h6>{{title}}
                        {{#if isTop}}<span class="badge rounded-pill bg-danger">TOP</span>{{/if}}
                        {{#if isNew}}<span class="badge rounded-pill bg-success">NEW</span>{{/if}}
                    </h6>
                </div>
                <div class="card-body">
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{/with}}
    </section>
    <hr class="my-5">
    <section class="row g-4">
        {{#with goodsBlock}}
        <div class="mb-5">
            <ul class="nav nav-tabs">
                {{#each tabs}}
                <li class="nav-item">
                    <a class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}" {{#if
                        isActive}}aria-current="page" {{/if}} href="#">{{text}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#each cards}}
        {{> otherGoodsCard}}
        {{/each}}
        {{/with}}
    </section>

    <hr class="my-5">
    {{> subscribeBlock}}
    <hr class="my-5">
    <section>
        {{#with service}}
        {{> serviceBlock}}
        {{/with}}
    </section>
    <hr class="my-5">
    {{>shopfooter}}
</main>