{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{#with summary}}
            {{> title data=title big=true}}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
            {{/with}}
        </section>

        <section>
            {{#with experience}}
            {{> title data=title big=false}}
            <div>
                <p>
                    {{text}}
                </p>
            </div>
            {{/with}}
        </section>
    </main>
    {{/with}}
</div>