  <nav>
    {{> lnk text="Skills" href="/skills" line=true}}
    {{> lnk text="Summary" href="/summary" line=true}}
    {{> lnk text="Education" href="/education" line=true}}
    {{> lnk text="Work" href="/Work" line=true noLine=true}}
  </nav>