<footer class="row">
  {{#each footer}}
  <div class="col-2">
    <ul class="nav flex-column">
      {{#each this}}
      <li class="nav-item">
        <a class="nav-link" href={{link}}>{{text}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</footer>